@CHARSET "windows-31j";
<style>
			h2{
				font-weight:bold;
				border-style:none none solid solid;
				border-width:0px 0px 3px 7px;
				border-color:#0000ff;
				padding:5px 0px 0px 0px;
				color:#000066;
				background-color:#ddddff;
				width:90%;
			}
			h3{
				width:90%;
				margin-left:5%;
			}
			p{
				border-style:groove groove groove groove;
				border-width:3px 3px 3px 7px;
				border-color:#aaaaff;
				margin-left:5%;
				padding:5px 5px 5px 5px;
				color:#000033;
				background-color:#eeeeff;
				width:80%;
			}
			h4 {
				text-align:right;
				width:85%;
			}
		</style>